:root{
    --royal-blue-light: #387dff;
    --royal-blue-dark: #0059ff;
    --white: #fff;
    --backgroud: #e2e3e9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: #e2e3e9;
    height: 420vh;
}


a{
    color: var(--white);
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--royal-blue-dark);
    

    height: 4.6875rem;
    width: 100%;

    padding: 1rem;

    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    z-index: 1;
    margin-top: -4.6875rem;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
    margin-top: 75px;
}

.menu a:hover{
    background: var(--royal-blue-light);
}

.menu a.active{
    background: var(--royal-blue-light);
}

.label-menu, .checkbox{
    display: none;
}

.border{
    border-right: 0.0625rem solid #fff
}

i{
    margin-right: .25rem;
}


@media (max-width: 1170px) {
    .menu{
        display: block;
        position: absolute;
        top: 9rem;
        left: 0;
        background: var(--royal-blue-light);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.6s;

    }

    .menu a{
        padding: 1rem;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        font-weight: 600;
        border: 5px solid #387dff;
        transition: 0.6s;
    }

    .menu a:hover{
        background: var(--royal-blue-dark);
        border-radius: .5rem;
    }

    .menu a.active{
        background: var(--royal-blue-dark);
    }

    .label-menu{
        display: flex;
        align-items: center;
        gap: .5rem;
        color: #fff;
        padding-block: 1rem;
        cursor: pointer;
    }

    .border{
        border-bottom: 2px solid #fff;
        border-right: none;
    }

    .hamburger{
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::before,
    .hamburger::after {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: .5s;
    }

    .checkbox:checked ~ .menu{
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .checkbox:checked ~ .label-menu .hamburger{
        border-top-color: transparent;
    }

    .checkbox:checked ~ .label-menu .hamburger::before{
        transform: rotate(135deg);
    }

    .checkbox:checked ~ .label-menu .hamburger::after{
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}